#!/bin/bash

brew --version >/dev/null
brew_found=$?
if (($brew_found)); then
    cat <<EOF
### Homebrew not found, run the following install command. ###
### It will ask ask for sudo (see https://brew.sh/) ###
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
EOF
    exit 1
fi

# update
HOMEBREW_NO_AUTO_UPDATE="1"
brew update --quiet
brew bundle

# python deps
cat <<EOF
###################################################
    Run the following so pyenv can build python 
###################################################
EOF

{{ if eq .chezmoi.os "linux" -}}
cat <<EOF
sudo apt update
# build-essential
sudo apt install build-essential
# python dependencies
sudo apt install libssl-dev zlib1g-dev \
libbz2-dev libreadline-dev libsqlite3-dev curl \
libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev llvm
EOF

{{ else if eq .chezmoi.os "darwin" -}}

cat <<EOF
# Xcode CLI tools
xcode-select --install
# python dependencies
brew install --quiet openssl readline sqlite3 xz zlib tcl-tk
EOF
{{ end -}}

cat << EOF
###################################################
EOF
