# This is Git's per-user configuration file.
[user]
	name = Michael Xie
	email = xie.michael.x@gmail.com
[core]
	excludesfile = /Users/xiexingwu/.ignore
	
[alias]
  l = status --column -sb
  ll = log --oneline --graph

  ca = commit --amend

  f = fetch -p
  pr = pull --rebase
